/*.njmmInject {font-family: arial; 
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  text-align: center; 
  width: 45px; 
  margin: 0px;
  position: fixed;
  z-index: 2;
  height:100%
}*/ /*Used for the main njmmDiv that contains the control panels.*/
.njmmInject {font-family: arial; 
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  text-align: center; 
  width: 100%;
  /*height: 65px;*/
  /*margin: 10px;*/
  margin: 0px;
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
}

.njmmInject ul {width:100%; float:left}
.njmmInject ul * {float:left; margin-left: 10px;}
.njmmInject p {background-color:rgba(255,0,0,0);}
#menu {left:60px;bottom:0px;}

.njmmButton {width:100px; height:30px;margin:3px; display:inline;} /*Buttons*/
.njmmCounter {width:95px; height:30px;text-align: center;margin:3px; display:inline;} /*The counter that acts as as a console instance.*/
.njmmText {/*width:85%;*/ background-color:rgb(255,255,255); padding: 3px; text-align: left; margin:3px;} 
._s0,.bm,.img[class*="Prof"],.img[class*="prof"],.img[id*="prof"],.img[id*="Prof"],.img[alt=""],.img.UFIImageBlockImage,.img[alt*="Prof"],[style*=cover],._4ld-,[alt*="Seen by"] {visibility:hidden} /*Hides profile images*/
#addFriendButton {background-color:#4CAF50;color:white;}
#stopButton{background-color:#f13232;color:white;}
.njmmUnfriend {background-color:rgb(245,246,247); /*This is modeled after facebook's buttons.*/
    border-bottom-color:rgb(204,208,213); 
    border-bottom-left-radius:2px; 
    border-bottom-right-radius:0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 208, 213);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 208, 213);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: content-box;
    color: rgb(75, 79, 86);
    cursor: default;
    direction: ltr;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-color: rgb(204, 208, 213);
    margin-right: 0px;
    margin-top: 0px;
    max-width: 200px;
    overflow-wrap: normal;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(75, 79, 86);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: none;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-property: background-color, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1), cubic-bezier(0.08, 0.52, 0.52, 1), cubic-bezier(0.08, 0.52, 0.52, 1);
    vertical-align: middle;
    white-space: nowrap;
    z-index: 1;
}

body>* {margin-bottom: 65px;}
