body {
        font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    }

    #theselector {
        background-color: #fff;
        padding: 10px;
        line-height: 1.7;
        width: 355px;
        margin: 0 auto;
        border-radius: 5px;
    }

    body {
        background-color: #e9eaed;
    }

    #person p {
        line-height: 16px;
        font-size: 13px;
        margin-bottom: 7px;
    }

    h2 {
        font-size: 11.5px;
        color: #ddd;
        font-weight: bold;
        line-height: 14px;
        margin-left: 88px;
    }

    select {
        font-size: 13px;
        border-radius: 2px;
        border: 1px solid #CCC;
    }

    input {
        font-size: 15px;
        border-radius: 2px;
        border: 1px solid #ccc;	
    }

    button {
        font-size: 14px;
        border-radius: 5px;
        padding: 5px 8px;
        margin: 5px 0;
        background-color: white;
        color: #3A5795;
        border: 1px solid #3A5795;
        cursor: pointer;
        width: 170px;
    }

    button:hover {
        background-color: #3A5795;
        color: white;
    }


    #people .tab {
        float: right;
        width: 190px;
    }

    #people select.tab {
    width: 196px;
    float: right;
    }

    #people .inputright {
        width: 88px !important;
        margin-left: 10px !important;
    }

    #people .inputleft {
        width: 88px !important;
    }

    #person .fullwidth {
    width: 350px;
    text-align: center;
    }

    #person select.tab {
    width: 196px;
    height: 26px;
    float: right;
    }



    #photos .tab {
    float: right;
    width: 290px;
    }

    #posts .tab {
    float: right;
    width: 270px;
    }

    #person label {
        padding-left: 25px;
        text-indent: -25px;
        height: inherit;
        margin-bottom: 6px;
    }

    #addperson {
        display:none;
    }

    #addperson a {
        text-align:center;
        display:block;
    }

    #secondperson {
        display:none;
        font-size: 13px;
    }

    .showwhenopened {
        display:none;
    }

    .show-if-one-person {
        display:none;
    }

    .show-if-two-people {
        display:none;
    }

    form .second-person-chooser {
        display: none;
    }

    select.looklikealink {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #3a5795;
    }

    select.looklikealink:hover {
        text-decoration:underline;
    }

    .centerinselect {
        text-align:center;
    }

    #person-options b {
        font-weight: bold !important;
    }

    #person-submit {
        text-align:center;
        display:none;
        margin-top: 6px;
    }

    form {
        width: 355px;
        white-space: nowrap;
        font-size: 13.5px;
    }

    form a {
        font-size: 12px;
        font-weight: bold;
        color: #3a5795;
        text-decoration: none;
        display: block;
        line-height: 20px;
    }

    form a:hover {
        text-decoration: underline;
    }

    form#posts .hide-if-any {
        display: none;
    }

    label, .labelcontainer {
        font-size: 13.5px;
        vertical-align: middle;
      padding: 4px 0;
      display: block;
        height: 23px;
        clear: both;
    }

    hr {
        clear:both;
    }

    .rightalignthing {

    }

    .centernoblock {
        text-align:center;
    }
    .centernoblock label {
        /* display: inline; */
    }

    input[fid], select[fid] {
      cursor: default !important;
      background-color: #3A5795;
      border-style: outset;
      color: white;
    }

    #modify-people ul {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }

    #modify-people ul li {
        line-height: 40px;
        font-size: 16px;
        text-align:center;
        border-bottom: 1px solid #ccc;
    }

    #modify-people ul li.personname:hover {
        background-color: #F1D1D1;
    }

    #modify-people ul li.personname:after {
        content: "x";
        float: right;
        margin: 0 12px 0 6px;
        font-size: 13px;
        font-weight: bold;
        color:black;
    }

    #modify-people ul li.personname:hover:after {
        color: white;
    }

    #modify-people ul li#addpeople {
        background-color: #D3E6D3;
    }

    #modify-people ul li#addpeople input {
        height: 40px;
        width: 260px;
        color: black;
        border: none;
        text-align: center;
        background-color: #D3E6D3;
    }

    #modify-people ul li#addpeople input:focus {
        outline: none;
    }

    li#addpeople:before {
        content: "+";
        float: right;
        margin-right: 10px;
        font-weight: bold;
        color: black;
    }

    #modify-people ul li.inprocess, #modify-people ul li.inprocess input {
        color: #888;
        cursor: default;
        background-color: #3D803D !important;
    }

    #addpeopledescription {
        margin-top: 7px;
        font-size: 12px;
        text-align: center;
    }
